background-color: rgb(117, 117, 117);
color: rgb(148, 148, 148);
font-family: Arial;
}

h1{
font-family: 'Times New Roman', Times, serif;
color: #ffffff;
text-align: center;
}

p{
color: rgb(226, 226, 226);
}